{% extends "base.html" %}

{% block title %}Cart{% endblock %}


{% block content %}

{% load static %}

<!-- {% if not request.session %}
<script type="text/javascript">
    window.location.href = "{% url 'signup' %}";
</script>

{% endif %} -->

<body>

    <div class="px-4 px-lg-0">

        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="p-2 px-3 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <form method="post" action="{% url 'update_cart' %}">
                                        {% csrf_token %}
                                        {% for item in cart_items %}
                                        <tr>
                                            <th scope="row">
                                                <div class="p-2">
                                                    <img src="{{ item.product.image.url }}" alt="" width="70"
                                                        class="img-fluid rounded shadow-sm">
                                                    <div class="ml-3 d-inline-block align-middle">
                                                        <h5 class="mb-0"> <a href="#"
                                                                class="text-dark d-inline-block">{{item.product.name}}</a>
                                                        </h5><span
                                                            class="text-muted font-weight-normal font-italic">Category:
                                                            {{item.product.category }}</span>
                                                    </div>
                                                </div>
                                            <td class="align-middle"><strong>${{ item.product.price }}</strong></td>
                                            <td class="align-middle">
                                                <button type="button"
                                                    onclick="decrementQuantity('{{ item.id }}')">-</button>
                                                <input type="text" name="quantity_{{ item.id }}"
                                                    value="{{ item.quantity }}" size="2">
                                                <button type="button"
                                                    onclick="incrementQuantity('{{ item.id }}')">+</button>
                                            </td>
                                            <td class="align-middle">
                                                <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                                <td>
                                    <button type="submit">Save</button>
                                </td>
                                </form>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                </div>

                <div class="row py-5 p-4 bg-white rounded shadow-sm">
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Your Details</div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Enter your Phone No , we can contact you latter</p>
                            <div class="input-group mb-4 border rounded-pill p-2">
                                <input type="text" placeholder="Enter Phone No" aria-describedby="button-addon3"
                                    class="form-control border-0">
                                
                            </div>
                        </div>
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Enter your address
                        </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">If you have some information for the seller you can leave them
                                in the box below</p>
                            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary
                        </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you
                                have entered.</p>
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Order Subtotal </strong><strong>${{total_price}}</strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Shipping and handling</strong><strong>$0.00</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Tax</strong><strong>$0.00</strong></li>
                                <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                        class="text-muted">Total</strong>
                                    <h5 class="font-weight-bold">${{total_price}}</h5>
                                </li>
                            </ul><a href="{% url 'place_order' %}"
                                class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        function incrementQuantity(itemId) {
            var input = document.querySelector('input[name="quantity_' + itemId + '"]');
            input.value = parseInt(input.value) + 1;
        }

        function decrementQuantity(itemId) {
            var input = document.querySelector('input[name="quantity_' + itemId + '"]');
            if (input.value > 1) {
                input.value = parseInt(input.value) - 1;
            }
        }
    </script>
</body>


{% endblock %}